* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: rgb(63,94,251);
    background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);}


.container {
    width: 50%;
    margin: auto;
    padding-top: 50px;
}
.todo-box {
    background-color: #4d44f7;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: 1px solid black;
    color:#fff;
}
.row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
#input-box {
    width: 80%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}
button {
    padding: 10px 20px;
    border: 1px solid black;
    background-color: #db2f74;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}
ul {
    list-style-type: none;
    padding: 0;
}
li {
    background-color: #fff;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
.close {
    margin-left: 10px;
    color: red;
    cursor: pointer;
}

